<footer class="main_footer position-relative">
  <div class="container">
      <div class="row g-4">
          <div class="col-lg-3">
              <h5 class="mb-3">
                 <!--  <img src="assets/images/logo-dark.png" alt="" height="22" class="dark">
                  <img src="assets/images/logo-light.png" alt="" height="22" class="light"> -->
                  Ressourcial
              </h5>
              <p class="footer_content mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <ul class="footer_social_media list-unstyled hstack gap-2 flex-wrap mb-0">
                  <li>
                      <a href="#!"><i class="bi bi-whatsapp"></i></a>
                  </li>
                  <li>
                      <a href="#!"><i class="bi bi-instagram"></i></a>
                  </li>
                  <li>
                      <a href="#!"><i class="bi bi-google"></i></a>
                  </li>
                  <li>
                      <a href="#!"><i class="bi bi-twitter"></i></a>
                  </li>
              </ul>
          </div><!-- .col-->
          <div class="col-lg-2 col-sm-6">
              <h6 class="footer_title mb-3">Resources</h6>
              <div class="footer_menu_list vstack list-unstyled mb-0">
                  <a href="#!">A propos</a>
                  <a href="#!">Equipe</a>
                 <!--  <a href="#!">Shop</a> -->
                  <a href="#!">Contact</a>
              </div>
          </div><!-- .col-->
          <div class="col-lg-2 col-sm-6">
              <h6 class="footer_title mb-3"> Liens Utils</h6>
              <div class="footer_menu_list vstack list-unstyled mb-0">
                  <a href="#!">Recrutement</a>
                  <a href="#!">Concours</a>
                  <a href="#!">Interim</a>
                  <a href="#!">Formation</a>
              </div>
          </div><!-- .col-->
          <div class="col-lg-2 col-sm-6">
              <h6 class="footer_title mb-3">Liens Utils</h6>
              <div class="footer_menu_list vstack list-unstyled mb-0">
                  <a href="#!">Recrutement</a>
                  <a href="#!">Concours</a>
                  <a href="#!">Interim</a>
                  <a href="#!">Formation</a>
              </div>
          </div><!-- .col-->
          <div class="col-lg-3 col-sm-6">
              <h6 class="footer_title mb-3">Telecharger App</h6>
              <p class="footer_content">Telecharger notre Apps..!</p>
              <div class="d-flex gap-2 flex-wrap">
                  <a href="#!"><img src="assets/images/google_play.png" alt="" height="40"></a>
                  <a href="#!"><img src="assets/images/app_store.png" alt="" height="40"></a>
              </div>
          </div><!-- .col-->
      </div>
  </div>
</footer>

<div class="footer_sub">
  <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <p class="footer_sub_content font-15 mb-0">2024 &#64; <b>Ressourcial</b> Powered By <a href="#" target="_blank" class="text-decoration-underline">Ressourcial</a></p>
      </div>
      </div>
  </div>
</div>
