<app-sidebar></app-sidebar>
<div class="position-relative">
  <div class="admin-page-wrapper">
    <h5 class="mb-4">Gérer les Candidats !</h5>

    <div class="row">
      <div class="col-lg-12">
        <div class="card" [ngClass]="{ 'border': darkTheme, 'border-0 shadow-md': !darkTheme }">
          <div class="card-header border-0 pb-2 d-flex align-items-center">
            <h6 class="font-16 mb-0 flex-grow-1">Liste des Candidats</h6>
            <div class="flex-shrink-0">
              <button class="btn btn-sm btn-secondary" type="button" (click)="openCreateModal()">
                <i class="bi bi-plus-circle me-1"></i> Ajouter un Candidat
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-middle font-15">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Rôle</th>
                    <th>Email</th>
                    <th>Numéro de Contact</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      <div class="d-flex align-items-center gap-3">
                        <img src="assets/images/feedback_client/client-01.jpg" alt="" class="square-xxs rounded">
                        <h6 class="mb-0 font-15">Fatima Zahra</h6>
                      </div>
                    </td>
                    <td>Développeur React</td>
                    <td>fatimazahra&#64;objectthemes.com</td>
                    <td>06192 98 53 57</td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                        <a href="#!" class="link-primary"><i class="bi bi-eye"></i></a>
                        <a href="#!" class="link-secondary" data-bs-toggle="modal" (click)="openCreateModal()"><i
                            class="bi bi-pencil-square"></i></a>
                        <a href="#!" class="link-danger"><i class="bi bi-trash3"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      <div class="d-flex align-items-center gap-3">
                        <img src="assets/images/feedback_client/client-02.jpg" alt="" class="square-xxs rounded">
                        <h6 class="mb-0 font-15">Youssef El Amrani</h6>
                      </div>
                    </td>
                    <td>UI / UX Designer</td>
                    <td>youssef&#64;objectthemes.com</td>
                    <td>05221 86 81 07</td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                        <a href="#!" class="link-primary"><i class="bi bi-eye"></i></a>
                        <a href="#!" class="link-secondary" data-bs-toggle="modal" (click)="openCreateModal()"><i
                            class="bi bi-pencil-square"></i></a>
                        <a href="#!" class="link-danger"><i class="bi bi-trash3"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <div class="d-flex align-items-center gap-3">
                        <img src="assets/images/feedback_client/client-03.jpg" alt="" class="square-xxs rounded">
                        <h6 class="mb-0 font-15">Imane Mouhssine</h6>
                      </div>
                    </td>
                    <td>Développeur ASP.Net</td>
                    <td>imane&#64;objectthemes.com</td>
                    <td>06556 99 61 97</td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                        <a href="#!" class="link-primary"><i class="bi bi-eye"></i></a>
                        <a href="#!" class="link-secondary" data-bs-toggle="modal" (click)="openCreateModal()"><i
                            class="bi bi-pencil-square"></i></a>
                        <a href="#!" class="link-danger"><i class="bi bi-trash3"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      <div class="d-flex align-items-center gap-3">
                        <img src="assets/images/feedback_client/client-04.jpg" alt="" class="square-xxs rounded">
                        <h6 class="mb-0 font-15">Kawtar Ait Ben Hmida</h6>
                      </div>
                    </td>
                    <td>Chef d'Équipe</td>
                    <td>kawtar&#64;objectthemes.com</td>
                    <td>06370 71 29</td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                        <a href="#!" class="link-primary"><i class="bi bi-eye"></i></a>
                        <a href="#!" class="link-secondary" data-bs-toggle="modal" (click)="openCreateModal()"><i
                            class="bi bi-pencil-square"></i></a>
                        <a href="#!" class="link-danger"><i class="bi bi-trash3"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <div class="d-flex align-items-center gap-3">
                        <img src="assets/images/feedback_client/client-05.jpg" alt="" class="square-xxs rounded">
                        <h6 class="mb-0 font-15">Zineb Kabbaj</h6>
                      </div>
                    </td>
                    <td>Développeur Angular</td>
                    <td>zineb&#64;objectthemes.com</td>
                    <td>06775 15 17 27</td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                        <a href="#!" class="link-primary"><i class="bi bi-eye"></i></a>
                        <a href="#!" class="link-secondary" data-bs-toggle="modal" (click)="openCreateModal()"><i
                            class="bi bi-pencil-square"></i></a>
                        <a href="#!" class="link-danger"><i class="bi bi-trash3"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>
                      <div class="d-flex align-items-center gap-3">
                        <img src="assets/images/feedback_client/client-06.jpg" alt="" class="square-xxs rounded">
                        <h6 class="mb-0 font-15">Rachid El Fadili</h6>
                      </div>
                    </td>
                    <td>Développeur Backend</td>
                    <td>rachid&#64;objectthemes.com</td>
                    <td>06391 64 64 97</td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                        <a href="#!" class="link-primary"><i class="bi bi-eye"></i></a>
                        <a href="#!" class="link-secondary" data-bs-toggle="modal" (click)="openCreateModal()"><i
                            class="bi bi-pencil-square"></i></a>
                        <a href="#!" class="link-danger"><i class="bi bi-trash3"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>
                      <div class="d-flex align-items-center gap-3">
                        <img src="assets/images/feedback_client/client-07.jpg" alt="" class="square-xxs rounded">
                        <h6 class="mb-0 font-15">Omar El Idrissi</h6>
                      </div>
                    </td>
                    <td>Développeur Frontend</td>
                    <td>omar&#64;objectthemes.com</td>
                    <td>069 15 91 80</td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                        <a href="#!" class="link-primary"><i class="bi bi-eye"></i></a>
                        <a href="#!" class="link-secondary" data-bs-toggle="modal" (click)="openCreateModal()"><i
                            class="bi bi-pencil-square"></i></a>
                        <a href="#!" class="link-danger"><i class="bi bi-trash3"></i></a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>
                      <div class="d-flex align-items-center gap-3">
                        <img src="assets/images/feedback_client/client-08.jpg" alt="" class="square-xxs rounded">
                        <h6 class="mb-0 font-15">Siham Benabdessadok</h6>
                      </div>
                    </td>
                    <td>Développeur Full Stack</td>
                    <td>siham&#64;objectthemes.com</td>
                    <td>06123 97 14 47</td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                        <a href="#!" class="link-primary"><i class="bi bi-eye"></i></a>
                        <a href="#!" class="link-secondary" data-bs-toggle="modal" (click)="openCreateModal()"><i
                            class="bi bi-pencil-square"></i></a>
                        <a href="#!" class="link-danger"><i class="bi bi-trash3"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-6">
                <p class="mb-0 text-muted text-center text-lg-start font-14 mb-3 mb-lg-0">Affichage de <b>32</b> sur
                  <b>149</b> Candidats</p>
              </div>
              <div class="col-lg-6">
                <nav aria-label="Exemple de navigation par pages">
                  <ul class="pagination justify-content-center justify-content-lg-end mb-0 pagination-sm">
                    <li class="page-item">
                      <a class="page-link square-xs" href="#" aria-label="Précédent">
                        <i class="bi bi-chevron-left"></i>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link square-xs" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link square-xs" href="#">2</a></li>
                    <li class="page-item"><a class="page-link square-xs" href="#">3</a></li>
                    <li class="page-item"><a class="page-link square-xs" href="#">4</a></li>
                    <li class="page-item">
                      <a class="page-link square-xs" href="#" aria-label="Suivant">
                        <i class="bi bi-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <ng-template #content let-modal>
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Créer un Candidat</h1>
          <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <form action="#!">
            <div class="row g-3">
              <div class="col-lg-12">
                <div>
                  <label for="formFile" class="form-label font-15 fw-medium">Télécharger une Image de Profil</label>
                  <input class="form-control" type="file" id="formFile">
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label for="fullName" class="form-label font-15 fw-medium">Nom Complet</label>
                  <input type="text" class="form-control" id="fullName" placeholder="Entrer le nom">
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label for="roleInput" class="form-label font-15 fw-medium">Rôle</label>
                  <input type="text" class="form-control" id="roleInput" placeholder="Rôle">
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label for="roleInput" class="form-label font-15 fw-medium">Adresse Email</label>
                  <input type="email" class="form-control" id="roleInput" placeholder="Adresse email">
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label for="contactNumberInput" class="form-label font-15 fw-medium">Numéro de Contact</label>
                  <input type="number" class="form-control" id="contactNumberInput" placeholder="Numéro de contact">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fermer</button>
          <button type="button" class="btn btn-primary">Ajouter un Candidat</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
